@import '../../../styles/global.scss';
.Form {
  background-color: $color-background-white;
  min-height: 70vh;
  h1,
  h2,
  h3,
  h4,
  p,
  span {
    color: $color-text-dark;
  }
  padding-top: 2rem;
}

.Form_empty {
  min-height: 70vh;
  background-color: $color-background-white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  h4 {
    color: $color-text-dark;
  }
}
