@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: $base-size;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text-bright;
  background: $color-background;
  font-family: $font-text;
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  min-height: 100vh;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: $base-size * 0.9;
  }
}

@import './typography.scss';
@import './vendor/swiper.scss';
