$color-text: #f1f1f1;
$color-text-bright: #fff;
$color-primary: #ff2726;
$color-secondary: #feff00;
$color-background: #040c24;
$color-background-mid: #0a284f;
$color-background-light: #0d3a73;

$radius: 5px;
$base-size: 14px;
$transition: all 0.5s;

$font-header: 'Poppins', sans-serif;
$font-text: 'Libre Baskerville', serif;
